*:before, *:after, *{
  box-sizing: border-box;
  padding: 0; margin: 0;
  font: Times New Roman, serif;
}

img{width: 100%;}
section.container{
  width: 700px;
  margin: 5% auto;
}
h1,h2,h3,h4,h5,h6{
  font-style: italic;
  font-weight: 100;
  color: #222;
  line-height: 1.5em;
}
h1{font-size: 4em;}
h2{font-size: 2em; padding: 10px 0 0 0}

p{
  font-family: Open Sans, sans-serif; line-height: 1.5em;
  color: #444;
  padding: 10px 0;
}
p.intro{font-weight: 800;}
p.col{column-count: 2;}

p.col > a.inline-link:hover{border-bottom: 1px solid #222;}
p.col > a.inline-link{
  text-decoration: none;
  text-transform: uppercase;
  font-size: .8em;
  font-weight: 800;
  letter-spacing: 1px;
  color: #222;
  margin: 0 3px;
}

a.btn:hover{
  background: #222;
  color: #fff
}
a.btn{
  display: block;
  margin: 20px 0 0 0;
  border-top: 1px solid #222; border-bottom: 1px solid #222;
  width: 50%; height: 50px; line-height: 50px;
  overflow: hidden; position: relative;

  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-family: Open Sans, sans-serif;
  font-size: .75em; color: #222;
  letter-spacing: 2px;

  transition: all .3s cubic-bezier(.4, .6, .03, .9);
}


p.date{
  color: #bbb;
  font-size: .9em;
  font-style: italic;
  padding: 0 0 10px;
}
p.date > a{
  color: #aaa;
  font-weight: 800;
  text-decoration: none;
}

blockquote:before{
  content: "\201C";
  font-size: 4em;
  position: absolute;
  left: -25px; top: -5px;
}
blockquote{
  padding: 10px;
  width: 75%;
  font: .75em Open Sans, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
}
cite:before{content: "- ";}
cite{
  padding: 10px 0 0 0;
  display: block;
  color: #999;
}

article > ul{padding: 10px 0}
article > ul li{
  list-style: circle;
  font: .9em Times new roman, serif;
  font-style: italic;
  margin: 0 0 0 20px;
  width: 50%;
  padding: 5px 0;
}
