.comment-section {
  background-color: whitesmoke;
  border-radius: 3px;
  padding: 60px;
  margin-bottom: 25px;
  margin-top: 86px;
}

.commentPost {
  margin-top: 86px;
  border-top: 1px solid black;
}

.comment-wrapper .panel-body {
  max-height:650px;
  overflow:auto;
}

.comment-wrapper .media-list .media img {
  width:64px;
  height:64px;
  border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
  border-bottom:1px dashed #efefef;
  margin-bottom:25px;
}

.media {
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 15px;
}

.img-circle {
  border-radius: 50%;
  padding: 5px;
  margin: 5px;
}

.media-list {
  margin-top: 46px;
  margin-left: 15%;
  margin-right: 15%;
}
