<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome on Laurent Segura Portfolio{% endblock %}</title>
        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css?family=Zhi+Mang+Xing&display=swap" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="/assets/css/creative.min.css">
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_script_tags('app') }}
            <script src="https://kit.fontawesome.com/338b1a41c2.js" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body id="page-top">
        {% block header %}
            {% include 'layout/navbar.html.twig' %}
        {% endblock %}
        {% block body %}
        {% endblock %}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
