<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="/build/app.3cd71e38.css"
        {% endblock %}
    </head>
    <body>
        {% block header %}
            {% include 'layout/navbar.html.twig' %}
        {% endblock %}
        {% block body %}
        {% endblock %}
        {% block javascripts %}
            <script src="/build/app.d69c8170.js"></script>
        {% endblock %}
    </body>
</html>
