{% extends 'base.html.twig' %}

{% block body %}
    <div class="projectIndex">
    <div class="container-fluid" style="margin-top: 25px">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">My Coding Projects</h1>
                <p class="lead">Discover all my coding projects</p>
            </div>
        </div>
    </div>
        {% for project in projects %}
            <div class="card-container projectCont">
                <div class="card project-card">
                    <a href="hottub">
                        <div class="card--display"><i class="material-icons">hot_tub</i>
                            <h2>{{ project.name }}</h2>
                        </div>
                        <div class="card--hover">
                            <h2>{{ project.language }}</h2>
                            <p>{{ project.description | slice(0, 30) }}</p>
                            <p class="link">Click to see project</p>
                        </div>
                    </a>
                    <div class="card--border"></div>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}
