
{% block title %}Thank you for your comment !!{% endblock %}

{% block body %}
<h1>Thank you to contact me !</h1>
    <p>I will give you a reply as soon as possible</p>

    <p><strong>Laurent Segura</strong></p>
{% endblock %}
